{% extends "admin/layout.html" %} {% block content %}
<div class="page-header page-header-default" id="page-header">

    <div class="breadcrumb-line bg-hejo">
      <ul class="breadcrumb">
        <li><a href="index.html"><i class="icon-home4 position-left"></i> Home</a></li>
        <li class="active">Realisasi Banpem</li>
        <li class="active">Data Transfer Barang</li>
        <li class="active">Tambah Data Transfer Barang</li>
      </ul>

      <ul class="breadcrumb-elements">
        <li><a href="#"><i class="icon-comment-discussion position-left"></i> Support</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="icon-gear position-left"></i>
            Settings
            <span class="caret"></span>
          </a>

          <ul class="dropdown-menu dropdown-menu-right">
            <li><a href="#"><i class="icon-user-lock"></i> Account security</a></li>
            <li><a href="#"><i class="icon-statistics"></i> Analytics</a></li>
            <li><a href="#"><i class="icon-accessibility"></i> Accessibility</a></li>
            <li class="divider"></li>
            <li><a href="#"><i class="icon-gear"></i> All settings</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>

  <div class="content">
    <div class="panel panel-flat">
      <div class="panel-heading bg-koneng">
        <h5 class="panel-title"><b><i class="icon-add-to-list position-left"></i> Tambah Data Transfer Barang</b></h5>
        <div class="heading-elements">
          <ul class="icons-list">
                    <li><a data-action="collapse"></a></li>
                    <li><a data-action="reload"></a></li>
                    <li><a data-action="close"></a></li>
                  </ul>
                </div>
      </div>

      <div class="panel-body">
        <!-- <legend class="text-bold"></legend> -->
        <br></br>
        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-flat border-left-lg border-left-info">
    					<div class="panel-body">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>KABUPATEN :</label>
                      <input type="text" class="form-control" placeholder="">
                      </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>KECAMATAN :</label>
                        <input type="text" class="form-control" placeholder="">
                      </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>DESA :</label>
                        <input type="text" class="form-control" placeholder="">
                      </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>KELOMPOK TANI :</label>
                        <input type="text" class="form-control" placeholder="">
                      </div>
                  </div>
                </div>
    					</div>
    				</div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="panel panel-flat border-left-lg border-left-info">
              <div class="panel-heading">
									<h6 class="panel-title"><span class="text-semibold"># TARGET <code>BENIH/BARANG LAINNYA</code></span></h6>
							</div>
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>VOL :</label>
                      <input type="text" class="form-control" placeholder="">
                      </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Rp :</label>
                      <input type="text" class="form-control" placeholder="">
                      </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="panel panel-flat border-left-lg border-left-info">
              <div class="panel-heading">
									<h6 class="panel-title"><span class="text-semibold"># REALISASI <code>BENIH/BARANG LAINNYA</code></span></h6>
							</div>
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>VOL :</label>
                      <input type="text" class="form-control" placeholder="">
                      </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Rp :</label>
                      <input type="text" class="form-control" placeholder="">
                      </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label>NO BAST KAB <code>BENIH/BARANG LAINNYA</code> :</label>
              <input type="text" class="form-control" placeholder="">
              </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label>NO BAST KELOMPOK <code>BENIH/BARANG LAINNYA</code> :</label>
              <input type="text" class="form-control" placeholder="">
              </div>
          </div>

          <div class="col-md-12">
            <div class="panel panel-flat border-left-lg border-left-info">
              <div class="panel-heading">
									<h6 class="panel-title"><span class="text-semibold"># WAKTU DISTRIBUSI/ SURAT JALAN</span></h6>
							</div>
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Nomor :</label>
                      <input type="text" class="form-control" placeholder="">
                      </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Tanggal :</label>
                      <input type="text" class="form-control" placeholder="">
                      </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>PENYEDIA BARANG :</label>
              <input type="text" class="form-control" placeholder="">
              </div>
          </div>

          <div class="col-md-12">
            <div class="panel panel-flat border-left-lg border-left-info">
              <div class="panel-heading">
									<h6 class="panel-title"><span class="text-semibold"># VARIETAS / MERK</span></h6>
							</div>
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <label>Jenis :</label>
                      <input type="text" class="form-control" placeholder="">
                      </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label>LOT / Nomor mesin & rangka :</label>
                      <input type="text" class="form-control" placeholder="">
                      </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label>SERTIFIKAT :</label>
                      <input type="text" class="form-control" placeholder="">
                      </div>
                  </div>
                </div>

              </div>
            </div>
          </div>

          <div class="col-md-12">
            <div class="panel panel-flat border-left-lg border-left-info">
              <div class="panel-heading">
									<h6 class="panel-title"><span class="text-semibold"># REALISASI PENGGUNAAN</span></h6>
							</div>
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>TANAM / SALUR <code>(HA)</code> :</label>
                      <input type="text" class="form-control" placeholder="">
                      </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>PANEN / PEMANFAATAN <code>(HA)</code> :</label>
                      <input type="text" class="form-control" placeholder="">
                      </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>PROV <code>(KU/HA)</code> :</label>
                      <input type="text" class="form-control" placeholder="">
                      </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>PRODUKSI <code>(TON)</code> :</label>
                      <input type="text" class="form-control" placeholder="">
                      </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label>KETERANGAN :</label>
              <input type="text" class="form-control" placeholder="">
              </div>
          </div>
    </div>
    <div class="panel-footer">
        <div class="heading-elements">
            <div class="heading-btn pull-right">
                <button type="button" id="btnSave" onclick="saveData()" class="btn btn-success">Simpan</button>
                <button type="button" id="btnUpdate" onclick="updateData()" class="btn btn-primary">Update</button>
            </div>
        </div>
    </div>
    </div>
</div>


{% endblock %}
{% block js %}
<script type="text/javascript" src="{{base_url}}assets/js/action/realisasi/addtransbarang.js"></script>
{% endblock %}
