<section id="hero">
  <!-- <div class="hero-container">
    <h1>Welcome to Valera</h1>
    <h2>We are team of talanted designers making websites with Bootstrap</h2>
    <a href="#about" class="btn-get-started scrollto">Get Started</a>
  </div> -->
  <div class="" style="width:100%;z-index:1;position:absolute;">
    <img src="https://apbd.jabarprov.go.id/assets/plugins/logo_daerah/logo_jabar.png" style="float:right;width:8%;padding-right:2%;" alt="">
  </div>
  <ul class="cb-slideshow">
      <li><span style="background-image: url(https://jabarprov.go.id/assets/data/banner/banner_moment_846.jpg)">Image 01</span></li>
      <li><span style="background-image: url(http://distan.jabarprov.go.id/distan/uploads/infograph/infografis%20mangga.jpg)">Image 02</span></li>
      <li><span style="background-image: url(http://distan.jabarprov.go.id/distan/uploads/infograph/qwertyuuuu1.jpg)">Image 03</span></li>
      <li><span style="background-image: url(http://distan.jabarprov.go.id/distan/uploads/infograph/irigasi.jpg)">Image 04</span></li>
      <li><span style="background-image: url(http://distan.jabarprov.go.id/distan/uploads/infograph/Infograph%20Pestisida.jpg)">Image 05</span></li>
  </ul>
</section><!-- End Hero -->

<!-- ======= Header ======= -->
<header id="header">
  <div class="container-fluid d-flex align-items-center justify-content-between">

    <h1 class="logo"><a href="index.html">E-PANTAS</a></h1>
    <!-- Uncomment below if you prefer to use an image logo -->
    <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

    <nav class="nav-menu d-none d-lg-block">
      <ul>
        <li class="active"><a href="index.html">Beranda</a></li>
        <li><a href="#about">Tentang</a></li>
        <li><a href="#services">Pelayanan</a></li>
        <li><a href="#portfolio">Pangan</a></li>
        <li><a href="#team">Tim</a></li>
        <li><a href="#contact">Kontak</a></li>
        <li class="drop-down"><a href="#!"><i class="icofont-user"></i></a>
          <ul>
            <li><a href="{{base_url}}auth">Login</a></li>
          </ul>
        </li>
        <!-- <li class="drop-down"><a href="">Pilihan</a>
          <ul>
            <li><a href="#">Pilihan 1</a></li>
            <li class="drop-down"><a href="#">Pilihan Deep Drop Down</a>
              <ul>
                <li><a href="#">Pilihan Deep Drop Down 1</a></li>
                <li><a href="#">Pilihan Deep Drop Down 2</a></li>
                <li><a href="#">Pilihan Deep Drop Down 3</a></li>
                <li><a href="#">Pilihan Deep Drop Down 4</a></li>
                <li><a href="#">Pilihan Deep Drop Down 5</a></li>
              </ul>
            </li>
            <li><a href="#">Pilihan Drop Down 2</a></li>
            <li><a href="#">Pilihan Drop Down 3</a></li>
            <li><a href="#">Pilihan Drop Down 4</a></li>
          </ul>
        </li> -->

      </ul>
    </nav><!-- .nav-menu -->

    <div class="header-social-links">
      <a href="#" class="twitter"><i class="icofont-twitter"></i></a>
      <a href="#" class="facebook"><i class="icofont-facebook"></i></a>
      <a href="#" class="instagram"><i class="icofont-instagram"></i></a>
      <a href="#" class="linkedin"><i class="icofont-linkedin"></i></i></a>
    </div>

  </div>
</header><!-- End Header -->
