{% extends "admin/layout.html" %} {% block content %}
<div class="page-header page-header-default" id="page-header">

    <div class="breadcrumb-line bg-hejo">
      <ul class="breadcrumb">
        <li><a href="index.html"><i class="icon-home4 position-left"></i> Home</a></li>
        <li class="active">Realisasi Banpem</li>
        <li class="active">Data Transfer Uang</li>
        <li class="active">Tambah Data Transfer Uang</li>
      </ul>

      <ul class="breadcrumb-elements">
        <li><a href="#"><i class="icon-comment-discussion position-left"></i> Support</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="icon-gear position-left"></i>
            Settings
            <span class="caret"></span>
          </a>

          <ul class="dropdown-menu dropdown-menu-right">
            <li><a href="#"><i class="icon-user-lock"></i> Account security</a></li>
            <li><a href="#"><i class="icon-statistics"></i> Analytics</a></li>
            <li><a href="#"><i class="icon-accessibility"></i> Accessibility</a></li>
            <li class="divider"></li>
            <li><a href="#"><i class="icon-gear"></i> All settings</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>

  <div class="content">
    <div class="panel panel-flat">
      <div class="panel-heading bg-koneng">
        <h5 class="panel-title"><b><i class="icon-add-to-list position-left"></i> Tambah Data Transfer Uang</b></h5>
        <div class="heading-elements">
          <ul class="icons-list">
                    <li><a data-action="collapse"></a></li>
                    <li><a data-action="reload"></a></li>
                    <li><a data-action="close"></a></li>
                  </ul>
                </div>
      </div>

      <div class="panel-body">
        <!-- <legend class="text-bold"></legend> -->
        <br></br>
        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-flat border-left-lg border-left-info">
    					<div class="panel-body">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>KABUPATEN :</label>
                      <input id="kabupaten" type="text" class="form-control" placeholder="">
                      </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>KECAMATAN :</label>
                        <input id="kecamatan" type="text" class="form-control" placeholder="">
                      </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>DESA :</label>
                        <input id="desa" type="text" class="form-control" placeholder="">
                      </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>KELOMPOK TANI :</label>
                        <input id="kelompok_tani" type="text" class="form-control" placeholder="">
                      </div>
                  </div>
                </div>
    					</div>
    				</div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="panel panel-flat border-left-lg border-left-info">
              <div class="panel-heading">
									<h6 class="panel-title"><span class="text-semibold"># Dana yang Diterima</span></h6>
							</div>
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label>Rupiah :</label>
                      <input id="diterima_rupiah" type="text" class="form-control" placeholder="">
                      </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <label>Tanggal masuk di Rekening :</label>
                      <input id="tanggal_diterima" type="text" class="form-control" placeholder="">
                      </div>
                  </div>
                </div>

              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="panel panel-flat border-left-lg border-left-info">
              <div class="panel-heading">
									<h6 class="panel-title"><span class="text-semibold"># Dana yang Digunakan</span></h6>
							</div>
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label>Rupiah :</label>
                      <input id="digunakan_rupiah" type="text" class="form-control" placeholder="">
                      </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Tanggal masuk di Rekening :</label>
                      <input id="tanggal_digunakan" type="text" class="form-control" placeholder="">
                      </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Saldo Rekening <code>per 31 Desember 2018</code> :</label>
                      <input id="saldo_digunakan" type="text" class="form-control" placeholder="">
                      </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="panel panel-flat border-left-lg border-left-info">
              <div class="panel-heading">
									<h6 class="panel-title"><span class="text-semibold"># Dana yang Dikembalikan</span></h6>
							</div>
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label>Rupiah :</label>
                      <input id="dikembalikan_rupiah" type="text" class="form-control" placeholder="">
                      </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <label>Tanggal Setoran :</label>
                      <input id="tanggal_setoran" type="text" class="form-control" placeholder="">
                      </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="panel panel-flat border-left-lg border-left-info">
              <div class="panel-heading">
									<h6 class="panel-title"><span class="text-semibold"># BAST Pekerjaan</span></h6>
							</div>
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label>Nomor :</label>
                      <input id="no_bast" type="text" class="form-control" placeholder="">
                      </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <label>Tanggal :</label>
                      <input id="tanggal_bast" type="text" class="form-control" placeholder="">
                      </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="panel panel-flat border-left-lg border-left-info">
              <div class="panel-heading">
									<h6 class="panel-title"><span class="text-semibold"># ALOKASI / RUK</span></h6>
							</div>
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-4">
                    <div class="panel panel-flat border-left-lg border-left-danger">
                      <div class="panel-heading">
                          <h6 class="panel-title"><span class="text-semibold"># BENIH</span></h6>
                      </div>
                      <div class="panel-body">
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <label>Vol :</label>
                              <input id="alokasi_benih_vol" type="text" class="form-control" placeholder="">
                              </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label>Rp :</label>
                                <input id="alokasi_benih_rp" type="text" class="form-control" placeholder="">
                              </div>
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="panel panel-flat border-left-lg border-left-danger">
                      <div class="panel-heading">
                          <h6 class="panel-title"><span class="text-semibold"># PUPUK</span></h6>
                      </div>
                      <div class="panel-body">
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <label>Vol :</label>
                              <input id="alokasi_pupuk_vol" type="text" class="form-control" placeholder="">
                              </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label>Rp :</label>
                              <input id="alokasi_pupuk_rp" type="text" class="form-control" placeholder="">
                              </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="panel panel-flat border-left-lg border-left-danger">
                      <div class="panel-heading">
                          <h6 class="panel-title"><span class="text-semibold"># ALSINTAN / BANGUNAN</span></h6>
                      </div>
                      <div class="panel-body">
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <label>Vol :</label>
                              <input id="alokasi_bangunan_vol" type="text" class="form-control" placeholder="">
                              </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label>Rp :</label>
                              <input id="alokasi_bangunan_rp" type="text" class="form-control" placeholder="">
                              </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="panel panel-flat border-left-lg border-left-info">
              <div class="panel-heading">
									<h6 class="panel-title"><span class="text-semibold"># Realisasi</span></h6>
							</div>
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-4">
                    <div class="panel panel-flat border-left-lg border-left-danger">
                      <div class="panel-heading">
                          <h6 class="panel-title"><span class="text-semibold"># BENIH</span></h6>
                      </div>
                      <div class="panel-body">
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <label>Vol :</label>
                              <input id="realisasi_benih_vol" type="text" class="form-control" placeholder="">
                              </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label>No. LOT dan Sertifikasi :</label>
                                <input id="realisasi_benih_sertifikasi" type="text" class="form-control" placeholder="">
                              </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label>Rp :</label>
                                <input id="realisasi_benih__rp" type="text" class="form-control" placeholder="">
                              </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label>Penyedia :</label>
                                <input id="realisasi_benih_penyedia" type="text" class="form-control" placeholder="">
                              </div>
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="panel panel-flat border-left-lg border-left-danger">
                      <div class="panel-heading">
                          <h6 class="panel-title"><span class="text-semibold"># PUPUK</span></h6>
                      </div>
                      <div class="panel-body">
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <label>Vol :</label>
                              <input id="realisasi_pupuk_vol" type="text" class="form-control" placeholder="">
                              </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label>Rp :</label>
                              <input id="realisasi_pupuk_rp" type="text" class="form-control" placeholder="">
                              </div>
                          </div>
                          <div class="col-md-12">
                            <div class="form-group">
                              <label>Penyedia :</label>
                              <input id="realisasi_pupuk_penyedia" type="text" class="form-control" placeholder="">
                              </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="panel panel-flat border-left-lg border-left-danger">
                      <div class="panel-heading">
                          <h6 class="panel-title"><span class="text-semibold"># ALSINTAN / BANGUNAN</span></h6>
                      </div>
                      <div class="panel-body">
                        <div class="row">
                          <div class="col-md-12">
                            <div class="form-group">
                              <label>Vol :</label>
                              <input id="realisasi_bangunan_vol" type="text" class="form-control" placeholder="">
                              </div>
                          </div>
                          <div class="col-md-12">
                            <div class="form-group">
                              <label>Rp :</label>
                              <input id="realisasi_bangunan_rp" type="text" class="form-control" placeholder="">
                              </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="panel panel-flat border-left-lg border-left-info">
              <div class="panel-heading">
									<h6 class="panel-title"><span class="text-semibold"># Sisa</span></h6>
							</div>
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-4">
                    <div class="panel panel-flat border-left-lg border-left-danger">
                      <div class="panel-heading">
                          <h6 class="panel-title"><span class="text-semibold"># BENIH</span></h6>
                      </div>
                      <div class="panel-body">
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <label>Vol :</label>
                              <input id="sisa_benih_vol" type="text" class="form-control" placeholder="">
                              </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label>Rp :</label>
                                <input id="sisa_benih_rp" type="text" class="form-control" placeholder="">
                              </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="panel panel-flat border-left-lg border-left-danger">
                      <div class="panel-heading">
                          <h6 class="panel-title"><span class="text-semibold"># PUPUK</span></h6>
                      </div>
                      <div class="panel-body">
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <label>Vol :</label>
                              <input id="sisa_pupuk_vol" type="text" class="form-control" placeholder="">
                              </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label>Rp :</label>
                              <input id="sisa_pupuk_rp" type="text" class="form-control" placeholder="">
                              </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="panel panel-flat border-left-lg border-left-danger">
                      <div class="panel-heading">
                          <h6 class="panel-title"><span class="text-semibold"># ALSINTAN / BANGUNAN</span></h6>
                      </div>
                      <div class="panel-body">
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <label>Vol :</label>
                              <input id="sisa_bangunan_vol" type="text" class="form-control" placeholder="">
                              </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label>Rp :</label>
                              <input  id="sisa_bangunan_rp" type="text" class="form-control" placeholder="">
                              </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="panel panel-flat border-left-lg border-left-info">
              <div class="panel-heading">
									<h6 class="panel-title"><span class="text-semibold"># REALISASI FISIK</span></h6>
							</div>
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>TANAM <code>(HA)</code> :</label>
                      <input id="fisik_tanam" type="text" class="form-control" placeholder="">
                      </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>PANEN <code>(HA)</code> :</label>
                      <input id="fisik_panen" type="text" class="form-control" placeholder="">
                      </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>PROV <code>(KU/HA)</code> :</label>
                      <input id="fisik_prov" type="text" class="form-control" placeholder="">
                      </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>PRODUKSI <code>(TON)</code> :</label>
                      <input id="fisik_produksi" type="text" class="form-control" placeholder="">
                      </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>ALSINTAN / BANGUNAN <code>(Unit / Paket)</code> :</label>
                      <input id="fisik_bangunan" type="text" class="form-control" placeholder="">
                      </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label>KETERANGAN :</label>
              <input id="keterangan" type="text" class="form-control" placeholder="">
              </div>
          </div>
    </div>
    <div class="panel-footer">
        <div class="heading-elements">
            <div class="heading-btn pull-right">
                <button type="button" id="btnSave" class="btn btn-success">Simpan</button>
                <button type="button" id="btnUpdate" onclick="updateData()" class="btn btn-primary">Update</button>
            </div>
        </div>
    </div>
    </div>
</div>


{% endblock %}
{% block js %}
<script type="text/javascript" src="{{base_url}}assets/js/action/banpem/addtransuang.js"></script>
{% endblock %}
